<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Composition" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net48" />
</packages>