<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="DataSource" value="DESKTOP-5O3N9PO" />
		<add key="InitialCatalog" value="ERP" />
		<add key="UserID" value="uspruebas" />
		<add key="Password" value="pruebas" />
		<add key="ApplicationName" value="ERP_AppDesktop" />
	</appSettings>
	
</configuration>